<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Products</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css' data-th-href="@{/css/app.css}">
    <script src='main.js' data-th-src="@{/js/app.js}"></script>
</head>

<body>
    <article>
        Product
    </article>
    <div id="product">
        <product-card :product="product"></product-card>
    </div>
    <script data-th-inline="javascript">
        new Vue({
            el: '#product',
            data: {
                product: /*[[${product}]]*/ {}
            }
        })
    </script>
</body>

</html>