<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/css/shops.css" data-th-href="@{/css/shops.css}" />
    <title>Home</title>
</head>

<body class="bg-gray-100">
    <div class="page-progress"></div>
    <div class="flex">
        <nav class="h-screen w-1/4 bg-blue-700 flex justify-between flex-col">
            <div class="flex flex-col">
                <img src="../public/img/logo.svg" alt="company logo" class="">
                <a href="#" class="mx-1 mt-8 hover:bg-blue-400 font-semibold text-white text-center">Home</a>
                <a href="#" class="mx-1 mt-4 hover:bg-blue-400 font-semibold text-white text-center">Profile</a>
                <a href="#" class="mx-1 mt-4 hover:bg-blue-400 font-semibold text-white text-center">About</a>
                <a href="#" class="mx-1 mt-4 hover:bg-blue-400 font-semibold text-white text-center">Items</a>
                <a href="#" class="mx-1 mt-4 hover:bg-blue-400 font-semibold text-white text-center">Catalog</a>
            </div>
            <div class="pt-2 relative mx-auto mb-4 text-gray-600">
                <input type="search" name="search" placeholder="Search"
                    class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-full text-sm focus:outline-none">
                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 485.104 485.104" class="w-4 h-4 fill-current">
                        <path
                            d="M471.481 405.861L324.842 259.23c37.405-66.25 28.109-151.948-28.217-208.317C263.787 18.075 220.133 0 173.718 0 127.287 0 83.633 18.075 50.81 50.913c-67.717 67.74-67.701 177.979.02 245.738 32.85 32.823 76.488 50.897 122.919 50.897 30.489 0 59.708-7.939 85.518-22.595L405.824 471.51c18.113 18.121 47.493 18.129 65.641 0a46.499 46.499 0 0013.608-32.823 46.477 46.477 0 00-13.592-32.826zM85.28 262.191c-48.729-48.756-48.729-128.079-.016-176.828 23.62-23.627 55.029-36.634 88.453-36.634 33.407 0 64.816 13.007 88.451 36.627 48.715 48.756 48.699 128.094-.015 176.85-23.62 23.612-55.014 36.612-88.406 36.612-33.406 0-64.828-13.007-88.467-36.627z" />
                    </svg>
                </button>
            </div>
        </nav>
        <section class="h-screen w-3/4 bg-teal-100">
            ASDF
        </section>
    </div>
    <script src="../public/js/page-progress.min.js"></script>
    <script>
        (function () {
            pagePrgoress('.page-progress');
        })()
    </script>
</body>

</html>